<section>
  <div class="2xl:max-w-7xl mx-auto">
    <div class="grid grid-cols-1 xl:grid-cols-2 text-center">
      <a
        href="/store/product-details"
        class="relative flex h-96 xl:h-screen 2xl:h-96 w-full flex-col overflow-hidden hover:opacity-75 xl:w-auto">
        <span aria-hidden="true" class="absolute inset-0">
          <img
            src="/17.jpeg"
            alt=""
            class="h-full w-full object-cover object-center"
          />
        </span>

        <span class="relative mt-auto uppercase text-xs text-black p-3">
          <span class="block">cmt-90</span>
          <span class="block">price $1.082</span>
        </span>
      </a>
      <a
        href="/store/product-details"
        class="relative flex h-96 xl:h-screen 2xl:h-96 w-full flex-col overflow-hidden hover:opacity-75 xl:w-auto">
        <span aria-hidden="true" class="absolute inset-0">
          <img
            src="/8.jpeg"
            alt=""
            class="h-full w-full object-cover object-center"
          />
        </span>

        <span class="relative mt-auto uppercase text-xs text-black p-3">
          <span class="block">kl-34</span>
          <span class="block">price $982</span>
        </span>
      </a>
    </div>
  </div>
</section>
