<section>
  <div class="2xl:max-w-7xl mx-auto">
    <div
      class="mx-w-xs prose text-xs uppercase prose-headings:text-xs mx-auto py-24">
      <h1>Cookie Policy</h1>

      <p>
        This Cookie Policy explains how we use cookies on our website. By
        continuing to browse or use our website, you agree to our use of cookies
        as described in this policy.
      </p>

      <h2>What Are Cookies?</h2>
      <p>
        Cookies are small text files that are stored on your device (computer,
        smartphone, tablet) when you visit our website. They are widely used to
        make websites work efficiently and to provide information to website
        owners.
      </p>

      <h2>How We Use Cookies</h2>
      <p>We use cookies for the following purposes:</p>

      <ul>
        <li>
          <strong>Essential Cookies:</strong> These cookies are necessary for
          the website to function properly. They enable you to navigate our site
          and use its features.
        </li>
        <li>
          <strong>Analytics Cookies:</strong> We use analytics cookies to
          understand how visitors interact with our website, such as which pages
          are visited most often. This information helps us improve our website
          and provide a better user experience.
        </li>
        <li>
          <strong>Marketing Cookies:</strong> Marketing cookies are used to
          track your online activity and provide you with targeted advertising
          based on your interests. We may share this information with third
          parties for this purpose.
        </li>
      </ul>

      <h2>Your Cookie Choices</h2>
      <p>
        You can manage your cookie preferences in your web browser settings.
        Most web browsers allow you to control cookies through their settings.
        However, if you choose to disable cookies, some features of our website
        may not function properly.
      </p>

      <h2>More Information</h2>
      <p>
        For more information about cookies and how to manage them, please refer
        to our <a href="link-to-privacy-policy">Privacy Policy</a>.
      </p>

      <p>
        If you have any questions about our Cookie Policy, please <a
          href="contact-us-link">contact us</a
        >.
      </p>

      <p>
        This Cookie Policy was last updated on [insert date of last update].
      </p>
    </div>
  </div>
</section>
