<section>
  <div class="2xl:max-w-7xl mx-auto">
    <div
      class="mx-w-xs prose text-xs uppercase prose-headings:text-xs mx-auto py-24">
      <h1>Return and Refunds Policy</h1>

      <p>
        Thank you for shopping with us. If you are not entirely satisfied with
        your purchase, we're here to help.
      </p>

      <h2>Returns</h2>
      <p>
        You have [number of days] calendar days to return an item from the date
        you received it.
      </p>
      <p>
        To be eligible for a return, your item must be unused and in the same
        condition that you received it. It must also be in the original
        packaging.
      </p>
      <p>Your item needs to have the receipt or proof of purchase.</p>

      <h3>Exceptions</h3>
      <p>Some items are non-returnable, including:</p>
      <ul>
        <li>Items that are personalized, customized, or made-to-order</li>
        <li>Gift cards</li>
        <li>Downloadable software products</li>
        <li>Some health and personal care items</li>
      </ul>

      <h2>Refunds</h2>
      <p>
        Once we receive your item, we will inspect it and notify you that we
        have received your returned item. We will immediately notify you on the
        status of your refund after inspecting the item.
      </p>
      <p>
        If your return is approved, we will initiate a refund to your credit
        card (or original method of payment). You will receive the credit within
        a certain amount of days, depending on your card issuer's policies.
      </p>

      <h2>Exchanges</h2>
      <p>
        If you wish to exchange your item for a different one, please contact us
        within [number of days] days of receiving your item. You will be
        responsible for any price difference, and we will guide you through the
        exchange process.
      </p>

      <h2>Shipping</h2>
      <p>
        You will be responsible for paying for your shipping costs for returning
        your item. Shipping costs are non-refundable.
      </p>
      <p>
        If you receive a refund, the cost of return shipping will be deducted
        from your refund.
      </p>

      <h2>Contact Us</h2>
      <p>
        If you have any questions on how to return your item to us, contact us
        at [contact email or phone number].
      </p>

      <h2>Policy Updates</h2>
      <p>
        We reserve the right to update or change our Return and Refunds Policy
        at any time. Any changes will be posted on this page with an updated
        revision date.
      </p>

      <p>
        This Return and Refunds Policy was last updated on [insert date of last
        update].
      </p>
    </div>
  </div>
</section>
