<section>
  <div class="2xl:max-w-7xl 2xl:mx-auto">
    <div
      class="flex flex-col text-xs divide-y divide-black uppercase items-start">
      <div
        class="bg-white p-3 mt-11 text-black w-full border-t inline-flex items-center justify-between border-black">
        Overview
      </div>
      <div
        class="bg-white p-3 text-black w-full border-t inline-flex items-center justify-between border-black">
        Main pages
      </div>
      <div class="flex flex-col divide-y divide-white w-full">
        <a
          href="/"
          class="text-xs p-3 shrink-0 w-full bg-black uppercase text-white hover:bg-orange-500"
          >home</a
        >
        <a
          href="/infopages/about"
          class="text-xs p-3 shrink-0 w-full bg-black uppercase text-white hover:bg-orange-500"
          >about</a
        >
        <a
          href="/infopages/refunds"
          class="text-xs p-3 shrink-0 w-full bg-black uppercase text-white hover:bg-orange-500"
          >Return and refunds</a
        >
        <a
          href="/infopages/terms"
          class="text-xs p-3 shrink-0 w-full bg-black uppercase text-white hover:bg-orange-500"
          >Terms of service</a
        >
        <a
          href="/infopages/privacy"
          class="text-xs p-3 shrink-0 w-full bg-black uppercase text-white hover:bg-orange-500"
          >Privacy policy</a
        >
        <a
          href="/infopages/cookies"
          class="text-xs p-3 shrink-0 w-full bg-black uppercase text-white hover:bg-orange-500">
          Cookies policy</a
        >
      </div>
      <div
        class="bg-white text-black p-3 w-full border-t inline-flex items-center justify-between border-black">
        Store
      </div>
      <div class="flex flex-col divide-y divide-white w-full">
        <a
          href="/store/all-products"
          class="text-xs p-3 shrink-0 w-full bg-black uppercase text-white hover:bg-orange-500"
          >All products</a
        >
        <a
          href="/store/product-details"
          class="text-xs p-3 shrink-0 w-full bg-black uppercase text-white hover:bg-orange-500"
          >product details</a
        >
        <a
          href="/store/cart"
          class="text-xs p-3 shrink-0 w-full bg-black uppercase text-white hover:bg-orange-500"
          >Cart</a
        >
      </div>
      <div
        class="bg-white text-black p-3 w-full border-t inline-flex items-center justify-between border-black">
        forms
      </div>
      <div class="flex flex-col divide-y divide-white w-full">
        <a
          href="/forms/newsletter"
          class="text-xs p-3 shrink-0 w-full bg-black uppercase text-white hover:bg-orange-500"
          >Newsletter</a
        >
        <a
          href="/forms/contact"
          class="text-xs p-3 shrink-0 w-full bg-black uppercase text-white hover:bg-orange-500"
          >Contact</a
        >
        <a
          href="/forms/login"
          class="text-xs p-3 shrink-0 w-full bg-black uppercase text-white hover:bg-orange-500"
          >log in</a
        >
        <a
          href="/forms/signup"
          class="text-xs p-3 shrink-0 w-full bg-black uppercase text-white hover:bg-orange-500"
          >sing up</a
        >
      </div>
      <div
        class="bg-white p-3 text-black w-full border-t inline-flex items-center justify-between border-black">
        blog
      </div>
      <div class="flex flex-col divide-y divide-white w-full">
        <a
          href="/blog/blog-one"
          class="text-xs p-3 shrink-0 w-full bg-black uppercase text-white hover:bg-orange-500"
          >Blog</a
        >
        <a
          href="/posts/1"
          class="text-xs p-3 shrink-0 w-full bg-black uppercase text-white hover:bg-orange-500"
          >Blog post</a
        >
        <a
          href="/tags"
          class="text-xs p-3 shrink-0 w-full bg-black uppercase text-white hover:bg-orange-500"
          >Tag index</a
        >
        <a
          href="/tags/Tailwind"
          class="text-xs p-3 shrink-0 w-full bg-black uppercase text-white hover:bg-orange-500"
          >Tag category</a
        >
      </div>
      <div
        class="bg-white p-3 text-black w-full border-t inline-flex items-center justify-between border-black">
        help center
      </div>
      <div class="flex flex-col divide-y divide-white w-full">
        <a
          href="/helpcenter/home"
          class="text-xs p-3 shrink-0 w-full bg-black uppercase text-white hover:bg-orange-500"
          >help center home</a
        >
        <a
          href="/helpcenter/category"
          class="text-xs p-3 shrink-0 w-full bg-black uppercase text-white hover:bg-orange-500"
          >help center category</a
        >
        <a
          href="/helpcenter/details"
          class="text-xs p-3 shrink-0 w-full bg-black uppercase text-white hover:bg-orange-500"
          >help center details</a
        >
      </div>
    </div>
  </div>
</section>
